<h1>Feedbacks Index Page</h1>

<%= link_to 'Add Feedback', new_feedback_path %>
<hr>

<% @all_feedbacks.each do |feedback| %>
<ul>
	<li>Name: <%= feedback.name %> <br />
		Description: <p><%= feedback.description%></p>
		Priority / Weight: <%= feedback.weight %><br />
		Date: <%= feedback.date.strftime("%m/%d/%Y") %></br />
		Image: <img src="<%= feedback.image_url %>"/><br />
		Media: <a href="<%= feedback.media_link %>"><%= feedback.media_link %></a><br />

		<%= link_to 'edit feedback', edit_feedback_path(feedback) %><br />
		<%= link_to 'delete feedback', destroy_path(feedback) %><br />
		<hr>
	</li>
</ul>
<% end %>

<%= link_to 'Client Presentation Link', presentation_path %>