<!DOCTYPE html>
<html>
<head>
  <title>FeedbackMvp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
	<%= link_to 'Presentation', presentation_path %>
</div>

<%= yield %>

</body>
</html>
